.container{
    background-color: wheat;
    border-radius: 10px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
}
.input{
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.btn{
    background-color: rgb(41, 143, 6);
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: white;
}