*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: blanchedalmond;
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
h1{
    text-align: center;
}
.input{
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: rgb(237, 239, 241);
    border-bottom: 1px solid gray;
}
.btn{
    background-color: rgb(41, 143, 6);
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: white;
}

ul li{
    font-size: 20px;
    user-select: none;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin: 10px;
    list-style: none;
}
ul li::before{
    content: "";
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-image: url(./circle-icon.png);
    background-size: cover;
    background-position: center;
    left: -35px;
    background-color: white;
}
