body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(148, 233, 179);
}

.calculator{
    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.1);
    padding: 20px;
    width: 350px;
}

#result{
    font-size: 20px;
    border: none;
    width: 97%;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px
}
button {
    font-size: 18px;
    padding:10px;
    border-radius: 25%;
    border: none;
    background-color: rgb(28, 27, 27);
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: lightgray;
    color: black;
    transform: scale(1.1);
    transition: all 0.2 0.3 linear;

}